* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: arial;
}

body {
	
}

html, body, section {
	
	height: 639px;
}

nav ul {
	list-style-type: none;
	background-color: #293a4b;
    position: fixed;
    width: 100%;
    z-index: 1;
    font-size: 18px;
}

nav li {
	float: left;
	margin-left: 20px;
}

.nav-active {
	background-color: #292929;
}

nav ul li a {
	display: block;
	padding: 15px;
	color: white;
	text-decoration: none;
	font-weight: bold;	
}

nav ul li a:hover {
	background-color: black;
	transition-duration: 1s;
}

section {
	padding-top: 49px;
}


.sb-left {
	width: 20%;
	height: 100%;
	background-color: #292929;	
	float: left;
}

.sb-left ul li:hover {
	background-color: black;
	transition-duration: 1s;
}

.sb-mid {
	width: 60%;
	height: 100%;	
	float: left;
	overflow-y: auto;
}

.sb-right {
	width: 20%;
	height: 100%;
	background-color: #292929;
	float: right;
}

.hv:hover {
	background-color: #293a4b;	
	transition-duration: 0.5s;
}

.pt:hover {
	color: white;
}

.cari {
	height: 24px;
}

.btn-cari {
	height: 24px;
	width: 60px;	
}

.sb-left ul li a {
	color: white;
	text-decoration: none;	
	font-weight: bold;
}

.sb-mid ul li h2 {
	
	text-decoration: none;	
	font-weight: bold;
}

.sb-right ul li a{	
	color: white;
	text-decoration: none;	
	font-weight: bold;
}

section div ul li {
	padding: 20px;
}

section div ul {
	list-style-type: none;
}

footer {
	background-color: #293a4b;
	margin-bottom: 40px;
	color: white;
}